node_modules
NativeAudioWin.exp
NativeAudioWin.lib
NativeAudioWin.obj
NativeAudioMac.o
build
output.wav
recorded.lpcm16
plots
can0*.pcm
can1*.pcm
fft_*.lpcm
fir_filter_diff.lpcm
playcancel_*.lpcm16
playcancel_*.pcm
g_*Rec.lpcm16
*_rec.pcm
*_ref.pcm
